name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  lint-format-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'

      - name: Install frontend dependencies
        run: npm install
        working-directory: frontend/filmlist  # Corrected to lowercase 'frontend'

      - name: Run linter
        run: npm run lint
        working-directory: frontend/filmlist  # Corrected to lowercase 'frontend'

      - name: Format code
        run: npm run format-check
        working-directory: frontend/filmlist  # Corrected to lowercase 'frontend'

  test-backend:
    runs-on: ubuntu-latest
    needs: lint-format-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '8.0.x'

      - name: Clean build folders
        run: dotnet clean Backend/Filmlist  # Specify the project to clean

      - name: Restore dependencies
        run: dotnet restore Backend/Filmlist  # Specify the project for restoring

      - name: Build backend
        run: dotnet build Backend/Filmlist --configuration Release --no-restore

      - name: Run backend tests
        run: dotnet test Backend/Filmlist.Tests --no-restore --verbosity normal
